
<!--
<app-navbar></app-navbar>
-->
<div *ngIf = "load">

    <div class="container-fluid">
      <div class="row">

      

        <div class="filter-side col-lg-3 col-md-4 col-sm-12">

          <div class="navbar navbar-expand-lg navbar-expand-md navbar-light ">
            <button class="mr-5 navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <h3 class="w-100">Filter by</h3>
            </button>
            <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                <table>
            <tr class="btn-filter">
              <td>
                <h6 class="w-100" disabled>Filter by</h6>
              </td>
            </tr>
            
            <tr class="hide">
              <td>
                <h6>Your Budget(per night)</h6>
                <div class="checkbox">
                
                  <label
                    ><input type="checkbox" class="icheck" /> EGP 0-EGP
                    2,000</label
                  >
                </div>
                <div class="checkbox">
                  <label
                    ><input type="checkbox" class="icheck" /> EGP 2,000-EGP
                    4,000</label
                  >
                </div>
                <div class="checkbox">
                  <label
                    ><input type="checkbox" class="icheck" /> EGP 4,000-EGP
                    6,000</label
                  >
                </div>
                <div class="checkbox">
                  <label
                    ><input type="checkbox" class="icheck" /> EGP 6,000-EGP
                    8,000</label
                  >
                </div>
              </td>
            </tr>

            <tr class="hide">
              <td>
                <h6>Star Rating</h6>
                <div class="checkbox">
                 
                  <label><input type="checkbox" class="icheck" /> 1 star</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck" /> 2 star</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck" /> 3 star</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck" /> 4 star</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck" /> 5 star</label>
                </div>
                <div class="checkbox">
                  <label
                    ><input type="checkbox" class="icheck" /> Unrated</label
                  >
                </div>
              </td>
            </tr>

            <tr class="hide">
              <td>
                <h6>Meals</h6>
                <div class="checkbox">
                  
                  <label
                    ><input type="checkbox" class="icheck" /> Breakfast
                    included</label
                  >
                </div>
                <div class="checkbox">
                  <label
                    ><input type="checkbox" class="icheck" /> Breakfast & dinner
                    included
                  </label>
                </div>
                <div class="checkbox">
                  <label
                    ><input type="checkbox" class="icheck" /> Breakfast & lunch
                    included</label
                  >
                </div>
              </td>
            </tr>
          </table>
            </div>
          </div> 
        </div>
        
        <div class="container col-lg-9 col-md-8 col-sm-12">
          <div class="row" *ngFor="let hotel of hotels">
            <div class=" col-12 hotel-side">
        
              <div class="row hotel-info">
                <div class="hotel-img col-lg-3 col-md-12 ">
                  <img
                    [src]="hotel.images"
                    width="100%" height="100%"
                  />
                </div>
    
                <div class="content col-lg-5 col-md-12 container justify-content-start">
    
                  <div class="row text-center text-lg-left ">
    
                  <div class="col-12">
                    <h4 class="hotel-name">{{hotel.name}}<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-regular fa-star"></i></span></h4>
                    <span class="hotel-city">{{hotel.location}}</span>
                  </div>
    
                  <div>

                  <div class="typeOfSearchedRoom col-12">
                    
                    <p>{{this.options[hotel.id][0]['name']}}</p>
                    <div class="another-info">
                      <h6>{{this.options[hotel.id][1]['name']}}</h6>
                      <h6>{{this.options[hotel.id][2]['name']}}</h6>
                      <p>{{this.options[hotel.id][3]['name']}}</p>
                    </div>
                  </div>
                  
                  </div>
                  
                  </div>
                    
                </div>
                
    
    
                <div class="col-lg-4 col-md-12 container mt-3">
                  <div class="row">
    
                  <div class="reviews col-12 mt-3">
                  <div>
                   <h6>Good</h6>
                   <p>200 reviews</p>
                  </div>
                   <span class="number">7.1</span>
                  </div>
                   <div class="hotel-btn col-12 mt-3">
                     <h6 class="text-center price discount">EGP 1289,5</h6>
                     <h5 class="text-center price">EGP 15,017</h5>
                     <button class="btn btn-primary w-100 p-3 mt-3">See Avilability</button>
                   </div>
                 </div>
    
                </div>
    
              </div>
    
            </div>
          </div>
        </div>


      </div>

      
    </div>
  </div>


  <script  src="assets/js/main_2.js"></script>